#projetos {
    background-color: #161622;
    padding: 20vh 0vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: black 4px 4px 10px;
    background-image: linear-gradient(  rgba(90, 50, 117, 0), rgba(19, 1, 63, 0.897));
    width: auto;
    
}

#projetos h2 {
    font-size: 2.2em;
    letter-spacing: 4px;
    text-align: center;
    padding-bottom: 10vh;
}

.grid-container {
    display: grid;
    grid-gap: 50px 100px;
    grid-template-columns: auto auto auto;
    justify-content: center;
    
}

.grid-item {
    height: 200px;
    width: 250px;
    padding: 25px 25px 50px 25px;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    color: white;
}

.grid-item img {
    height: 200px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px black;
    filter: grayscale(50%) blur(2.5px);
}

.grid-item img:hover {
    transition: 0.7s;
    filter: none;
}



#btn-ver-mais {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 23px;
  letter-spacing: 4px;
  text-shadow: 10px 5px 5px black;
  padding: 10vh 50px 20vh 50px;
  text-align: center;
  text-transform: uppercase;
  font-family: monospace;
}

#ver-mais:hover {
    transition: 0.3s;
    color: rgba(2, 255, 23, 0.712);
}

#ver-menos:hover {
    transition: 0.3s;
    color: rgba(2, 255, 23, 0.712);
}

#ver-mais, #ver-menos {
    padding-top: 50px;
    display: inline-block;
    cursor: pointer;
}